<% if notice %>
  <div class="bg-green-500 text-white p-2 text-sm rounded mb-2">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="bg-red-500 text-white p-2 text-sm rounded mb-2">
    <%= alert %>
  </div>
<% end %>
