<!-- app/views/arduino_cloud_data/index.html.erb -->
<h1>Dados do Arduino</h1>
<div id="arduino-data">
  <% if @data.any? %>
    <pre><%= JSON.pretty_generate(@data.as_json) %></pre>
  <% else %>
    <p>Nenhum dado disponível.</p>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const arduinoDataDiv = document.getElementById('arduino-data');
    fetch('/arduino_cloud_data.json')
      .then(response => response.json())
      .then(data => {
        arduinoDataDiv.innerHTML = JSON.stringify(data, null, 2);
      });
  });
</script>
