<%= content_for :title, "Iniciar Treino - SpierFit" %>

<%= content_for :head do %>
  <!-- Biblioteca Html5Qrcode carregada no cabeçalho -->
  <script src="https://cdn.jsdelivr.net/npm/html5-qrcode/minified/html5-qrcode.min.js" defer></script>
<% end %>

<div class="w-full min-h-screen bg-[#030a08] flex flex-col items-center p-0 overflow-x-hidden">
  <!-- Top Navigation -->
  <div class="w-full max-w-[428px] h-[70px] bg-[#a52502] rounded-bl-[30px] rounded-br-[30px] relative mb-2">
    <div class="absolute inset-0 bg-[#ff8137] opacity-20 rounded-bl-[30px] rounded-br-[30px]"></div>
    <div class="absolute inset-0 flex items-center justify-between px-4">
    <!-- Back Button -->
    <%= link_to 'javascript:history.back()', class: "w-8 h-8 bg-[#0e0e0e]/10 rounded-full border backdrop-blur-sm flex items-center justify-center" do %>
      <i class="fa fa-arrow-left text-white text-sm"></i>
    <% end %>
      <!-- Title -->
      <div class="flex-1 text-center">
        <div class="text-white text-base font-semibold">Iniciar treino</div>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex flex-col items-center">
    <div class="text-white text-lg font-semibold mb-4">Escaneie o Qrcode:</div>
    <div id="reader" class="w-[353px] h-[353px] bg-[#151c1c] rounded-[30px] border-2 border-white mb-4 overflow-hidden relative">
      <video id="video-element" class="absolute inset-0 w-full h-full object-cover rounded-[30px]" autoplay playsinline></video>
    </div>
    <button id="start-camera" class="bg-[#a52502] text-white rounded-full px-4 py-2">Abrir Câmera</button>
    <%# <div class="text-white text-lg font-semibold mt-4">Ou</div> %>
    <%#= link_to 'javascript:history.back()', class: 'w-full max-w-[353px] h-[44.68px] bg-[#303030] rounded-[100px] flex items-center justify-center mt-4' do %>
      <%# <div class="text-white text-sm">Selecione aparelho</div> %>
    <%# end %>
  </div>


  <!-- Bottom Navigation -->
  <div class="w-full max-w-[428px] bg-[#0e0e0e] rounded-t-[30px] p-3 mt-auto flex justify-around items-center">
    <div class="text-white text-sm"><i class="fa fa-home"></i></div>
    <div class="text-white text-sm"><i class="fa-solid fa-chart-column"></i></div>
    <a href="/machines/select_equipment" class="bg-[#a52502] rounded-full p-3">
      <i class="fa-solid fa-stop text-white text-lg"></i>
    </a>
    <%= link_to user_workouts_path(current_user.id), class: 'text-white text-sm' do %>
      <i class="fa fa-calendar-alt"></i>
    <% end %>
    <div class="text-white text-sm"><i class="fa fa-user"></i></div>
  </div>

</div>
